.App {
  background-color: black; 
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.counter-card {
  width: 500px;
  height: 400px;
  background-color: aliceblue;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
}

.result-field {
  width: 80%;
  height: 100px;
  background-color: antiquewhite;
border-radius: 1rem;
display: flex;
justify-content: center;
align-items: center;
font-size: 3rem;
}
.btn-collection {
  display: flex; 
  justify-content: space-between;
  width: 80%;
}
.btn {
  padding: 1rem;
  width: 8rem;
  border-radius: 1rem;

font-size: 1rem;
  border: none;
}
.decrement {
  background-color: rgb(212, 212, 25);
}
.increment {
  background-color: rgb(28, 228, 98);
}
.reset {
  background-color: red;
}

.btn:hover {
  transform: ;
}